<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script>
      $( document ).ready(function(){       
          $.ajax( {
              url: '/',
              type: 'POST',
              data: {"long": -1, "lat": 1},
              success: function(res) {
                  console.log('success');  
                  console.log(res);
                  var html = "";
                  for (var i = 0; i <= res.length - 1; i++){
                    console.log(res[i].id);
                    html += '<li><a href="/playlist&id=' + res[i].body.body.id + '">' + res[i].name + '</a></li>';
                  }
                  document.getElementById('playlists').innerHTML = html;
              }
          });                              
      });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
        <button><a href="/create">Create a playlist</a></button>
    </p>
    <ul id="playlists"></ul>
  </body>
</html>