<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script>
      $( document ).ready(function(){       
          $.ajax( {
              url: '/',
              type: 'POST',
              data: {"long": -1, "lat": 1},
              success: function(res) {
                  console.log('success');  
                  console.log(res);
                  var html = "";
                  for (var i = 0; i <= res.length - 1; i++){
                    console.log(res[i].body);
                    html += '<a href="/playlist?id=' + res[i].body.body.id + '" class="list-group-item list-group-item-linkable">' + res[i].name + '</a>';
                  }
                  document.getElementById('playlists').innerHTML = html;
              }
          });                              
      });
    </script>
  </head>
  <body>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Nearby Playlists</a>
      </li>
      <li>
        <a href="/create"><span class="glyphicon glyphicon-plus"></span> Create Playlist</a>
      </li>
    </ul>
  </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        <h1>spotifypartify</h1>
        <p>Collaborate with your fellow party-goers on a communal Spotify playlist. If you see your party in the list below, join it! Or create a new playlist for your party.</p>
      </div>
      <div class="col-md-6">
        <h2>Nearby Playlists</h2>
      </div>
      <div class="col-md-6">
        <a href="/create" type="submit" class="btn btn-lg btn-default pull-right" role="button"><span class="glyphicon glyphicon-plus"></span> Create Playlist</a>
      </div>
      <div class="col-md-12">
        <ul id="playlists" class="list-group"></ul>
      </div>
    </div>
  </body>
</html>