<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                    url: '/playlist',
                    type: 'POST',
                    data: {"key": 'getSongs', "playlist_id": "<%= id %>"},
                    success: function(res) {
                        console.log(res);
                        renderSongs(res);
                    }
                });
            var timeoutID = null;
            function findMember(str) {
              $.ajax({
                url: '/playlist',
                type: 'POST',
                data: {'key': 'searchTracks', 'track_name': str},
                success: function(res) {
                  console.log(res);
                }
              })
            }
            $('#searchbox').keyup(function() {
              clearTimeout(timeoutID);
              var $target = $(this);
              timeoutID = setTimeout(function() { findMember($target.val()); }, 500);
            });
          });

            
        function renderSongs(playlist){
            var html = "";
            var tracks = playlist.tracks.items;
            for (var i = 0; i < tracks.length ; i++){
                console.log(tracks[i]);
                html += '<li>'+ tracks[i].track.name +'</li>';
            }
            document.getElementById('playlist-songs').innerHTML = html;
        }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="container">
        <!--SEARCH-->
        
        <!--Playlist songs-->
        <ul id="playlist-songs">
            
        </ul>
    </div>
  </body>
</html>
