<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                    url: '/playlist',
                    type: 'POST',
                    data: {"key": 'getSongs', "playlist_id": "<%= id %>"},
                    success: function(res) {
                        console.log(res);
                        renderSongs(res);
                    }
                });
            var timeoutID = null;
            function findMember(str) {
              $.ajax({
                url: '/playlist',
                type: 'POST',
                data: {'key': 'searchTracks', 'track_name': str},
                success: function(res) {
                  console.log(res);
                }
              })
            }
            $('#searchbox').keyup(function() {
              clearTimeout(timeoutID);
              var $target = $(this);
              timeoutID = setTimeout(function() { findMember($target.val()); }, 500);
            });
          });

            
        function renderSongs(playlist){
            var html = "";
            console.log(playlist.body.body.tracks.items);
            for (var i = 0; i < playlist.body.body.tracks.items ; i++){
                console.log(playlist.body.body.tracks[i]);
                //html += '<a href="/playlist?id=' + res[i].body.body.id + '" class="list-group-item list-group-item-linkable">' + res[i].name + '</a>';
            }
            document.getElementById('playlist-songs').innerHTML = html;
        }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="container">
        <!--SEARCH-->
        
        <!--Playlist songs-->
        <ul id="playlist-songs">
            
        </ul>
    </div>
  </body>
</html>
